@{
    ViewData["Title"] = "Home Page";
}




<form method="post" asp-action="SendSms" asp-controller="Home">
    <div>
        <input type="tel" name="phoneNumber" value="+994559516864" class="form-control" />
    </div>
    <div>
        <label>Message:</label>
        <input type="text" name="messageBody" class="form-control" />
    </div>
    <div>
        <button class="btn btn-primary form-control">Sendsms</button>
    </div>
</form>





@if (Context.User.Identity.IsAuthenticated)
{
    <br />
    <h2>Welcome @User.Identity.Name</h2>
    <a asp-controller="Login" asp-action="Logout">Logout</a>
}